<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form class="mt-4" method="post" action="/courses/{{courses._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{courses.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea type="text" class="form-control" id="description" name="description">{{courses.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="youtubeId">Youtube Id</label>
            <input type="text" class="form-control" value="{{courses.youtubeId}}" id="youtubeId" name="youtubeId">
        </div>
        <button type="submit" class="btn btn-warning">Cập nhật</button>
</form>
</div>